<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | podcastr</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo.svg" alt="logo">
        </div>
        <nav>
            <li>
                <a>Inicio</a>
            </li>
        </nav>
    </header>
    
    <section>
        <div class="title">
            <h2>Meus episodios</h2>
        </div>
        <table>
            <thead>
                <tr>
                  <th>PODCAST</th>
                  <th>Título</th>
                  <th>Data</th>
                  <th>Opções</th>
                </tr>
              </thead>
              <tbody>
                    <tr>
                      <td>{episode.id}</td>
                      <td>{episode.title}</td>
                      <td>{episode.published_at}</td>
                      <td>
                        <a href="/episode/delete">deletar</a>
                      </td>
                    </tr>
              </tbody>
        </table>
        <button class="addEpisode" onclick="">Adicionar</button>
    </section>

    <div class="formModal">
        <form>
            
        </form>
    </div>

    <div class="comingsoon">
        <h2>Em breve</h2>
    </div>

    <script src="/script.js"></script>
</body>
</html> 